.card{

    &__dataList{
        display: none;

        &--actif{
            display: flex;
            flex-direction: row;
            row-gap: 10px;
            flex-wrap: wrap;
            margin: 0 10vw;
            //width: 100%;
            height: 100%;
            transition: 0.6s;
            position: relative;
        }
        &--time{
            align-items: flex-end;
        }
    }

    &__dataEl{

        width: 180px;
        height: 180px;
        border-radius: 50%;
        background-color: #F7971D;
        backdrop-filter: blur(15px);
        outline: 20px solid #F7971D66;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: 0.3s;
        animation: openBoobiesBounce 2s infinite ;
        animation-iteration-count: 2;
        cursor: pointer;

        &::after{
            width: 48px;
            height: 48px;
            border-radius: 50%;
            content: '';
            display: block;
            position: absolute;
            top: 45%;
            left: 40%;
            background-color: #F7971D;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            animation: openBoobies 2s infinite;
        }
        &:nth-child(2){
            height: 140px;
            width: 140px;
            top: 20px;
            animation-delay: 0.4s;
            &::after{
                animation: openBoobiesReverse 2s infinite ;
            }
        }
        &--checkBox{
            background-color: #ffefda;
            outline: 20px solid #ffefda66;

            &::after{
                background-color: #ffefda;
            }
            &>p>span{
                color: #000;
            }
        }
        &--cat{
            width: 181px;
            height: 181px;
            top: 180px;
            left: 38%;
            z-index: 10;
            &:nth-child(2){
                width: 162px;
                height: 162px;
                top: -210px;
                left: 24%;
                z-index: 9;
                
            }
            &:nth-child(3){
                width: 142px;
                height: 142px;
                top: -84px;
                left: -58%;
                z-index: 8;
                &::after{
                    width: 32px;
                    height: 32px;
            }

            }
            &:nth-child(4){
                width: 122px;
                height: 122px;
                font-size: 18px;
                top: -74px;
                left: 22%;
                z-index: 8;
                &::after{
                    width: 32px;
                    height: 32px;
            }

            }
            &:nth-child(5){
                width: 102px;
                height: 102px;
                font-size: 18px;
                top: -66px;
                left: 24%;
                z-index: 8;
                &::after{
                    width: 32px;
                    height: 32px;
            }

            }
            &:nth-child(6){
                width: 82px;
                height: 82px;
                font-size: 18px;
                top: 40px;
                left: -20%;
                z-index: 8;
                &::after{
                    width: 32px;
                    height: 32px;
            }

            }
        }
        &--age{
            width: 181px;
            height: 181px;
            top: 60px;
            left: 2%;
            z-index: 10;

            &:nth-child(2){
                top: -80px;
                left: 62%;
                width: 151px;
                height: 151px;
            }
            &:nth-child(3){
                top: -60px;
                // left: 62%;
                width: 201px;
                height: 201px;
            }
            &:nth-child(4){
                top: -195px;
                left: 68%;
                width: 131px;
                height: 131px;
            }
        }
        &--temps{
            width: 44px;
            height: 490px;
            background-color: #F7971D;
            border-radius: 20px 20px 0 0 ;
            outline:none;
            margin: 0 4px;

            &>p{
                transform: rotate(-90deg);
                display: flex;
                flex-direction: row;
                width: 300px;
                left: -4px;
                top:0px ;

                &>span{
                    margin: 0 0 0 8px;
                }
            }

            &::after{
                display: none;
            }
            &::before{
                content: "" ;
                width: 8px;
                height: 30px;
                background-color: #a5550033; 
                border-radius: 0 0 8px 8px;
                position: absolute;
                display: block;
                top: 0px;
                left: 17px;
                z-index: 12;
            }
            &:nth-child(2){
                height: 410px;
                width: 44px;
                top: 0px;
            }
            &:nth-child(4){
                border-radius: 20px 20px 0 0;
                background-color: #ffefda;
                &>p>span{
                    color: #000;
                }
               
            }
            &:nth-child(3){
                height: 340px;
            }
            &:nth-child(5){
                height: 300px;
               
            }
            &:nth-child(6){
               height: 280px;
            }
        }
        &--device{
            top: 84px;
            left: 10%;
            &:nth-child(3){
                top: 0;
                left: 2%;
            }
            &:nth-child(2){
                top: 240px;
                left: 16%;
            }
            &:nth-child(1){
                top: 79px;
                left: 46%;
            }
        }
    }

    &__dataTxt{
        font-family: 'Roboto';
        color: #000;
        font-weight: 900;
        font-size: 24px;
        position: relative;
        z-index: 12;
        display: flex;
        flex-direction: column;
        row-gap: -2px;
        top: -20px;
        left: -10px;
       
        &--white{
            color: #fff;
            width: 80vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            top:24px;
            transition: 0.6s;
            animation: openBoobiesText 2.8s ;
            &>span{
                color: #F7971D;
            }
        }
        &--small{
            top: 0;
            left: -7px;
        }
    }
    &__dataSpan{
            height: 28px;
            margin: 2px 0 0 0;
            animation: openBoobiesText 1s ;

        &--second{
            animation: openBoobiesText 2.4s ;
        }
    }
    &__txtEl{
        &--up{
            margin: -110px 0 0 0;
        }
    }

}


@keyframes openBoobies {

    0%{
        opacity: 1; /// godfather 1:40:05
        transform: rotate(10deg);
    }
    30%{
        opacity: 0.9;
        transform: rotate(0deg);
    }
    80%{
        opacity: 1;
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    }
}
@keyframes openBoobiesReverse {

    0%{
        opacity: 1; /// godfather 1:40:05
        transform: rotate(-10deg);
    }
    30%{
        opacity: 0.9;
        transform: rotate(0deg);
    }
    60%{
        opacity: 0.7;
        transform: rotate(20deg);
    }
    80%{
        opacity: 1;
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}
@keyframes openBoobiesText {

    0%{
        opacity: 0;
        transform: translateY(-28px);
    }
    60%{
        opacity: 0.2;
        transform: translateY(6px);
    }
    80%{
        transform: translateY(-8px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes openBoobiesBounce   {

    0%{
        transform: translateY(0px);
    }
    40%{
        transform: translateY(-6px);
    }
    80%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(0px);
    }
}


@media(min-width:600px){
    .card{

        &__dataList{    
            &--actif{
                margin: 0 8px;
            }
        }
        &__txtEl{
            width: 380px;
            &--up{
                margin: -110px 0 0 0;
            }
        }

        &__dataTxt{
            row-gap: -2px;
            // top: -70px;
            left: -10px;
           height: 28px;
           margin: 0 5px;
           &--timeTxt1{
               top: -70px;
               width: 390px;
           }
           &--timeTxt{
               top: -70px;
               width: 390px;
           }
            &--white{
               width: 380px;


                &>span{
                    height: 20px;
                    font-size: 21px;
                    white-space: pre-line;
                }
            }

        }
        //les changement de position objets du graphoques
        &__dataEl{

            &--cat{
                top: 267px;
                left: 138px;
                &:nth-child(2){
                    top: 108px;
                    left: 0px;
                    
                }
                &:nth-child(3){
                    top: -84px;
                    left: 32px;
                    &::after{
                        top: 60%;
                }
    
                }
                &:nth-child(4){
                    top: -229px;
                    left: -50px;
                    &::after{
                        width: 32px;
                        height: 32px;
                }
    
                }
                &:nth-child(5){
                    top: 236px;
                    left: -42px;
                    z-index: 8;

                }
                &:nth-child(6){
                    top: -24px;
                    left: 130px;
    
                }
            }
            &--age{
    
                &:nth-child(2){
                    top: 30px;
                    left: 16px;

                }
                &:nth-child(4){
                    top: -60px;
                    left: 16px;

                }
            }
           
            &--device{
                top: 84px;
                left: 10%;
                &:nth-child(3){
                    top: -45px;
                    left: 21px;
                }
            }
        }
    }
}