@keyframes blur-out {
    0% {
        filter: blur(4px);
        pointer-events: none;
    }

    100% {
        filter: blur(0px);
        pointer-events: auto;
    }
}

body{
    background-color: #000000;
}

.formulaire{ 
  
  margin-top: 25px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  
      .formulaire__title, .formulaire__subtitle{
        text-align: center;
        color: white;
      }
  
  .group{
      position:relative; 
    margin-bottom:10px;

    
        label{
      position:absolute;
      pointer-events:none;
      left:15px;
      top:50%;
      transform:translate(0%, -50%);
      transition:0.2s ease all; 
      background-color:black;
      padding:0px 2px;
      margin-left:12%;
    }

    
      .formulaire__item{
        width:76%;
        margin: 10px;
        margin-left: 12%;
        font-size: 18px;
        background-color:transparent;
        border: solid 0.5px white;
        height: 35px; 
        padding-left: 10px;
        padding-right: 10px;
        cursor:pointer;
        
        &:focus ~ label, &:valid ~ label 		{
          top:5px;
          font-size:16px;
          color:#ff9900;
          background-color:black;
        }

        option{
            color: black;
          margin-left:5px;

          &:first-child{
            color: #777777;
          }
        }
    }   
  }
}

.formulaire__select{
  select{
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    }
        
      &:after{
        content: '\25BC';
        font-family: FontAwesome;
        height: 15px ;
        padding-left: 15px;
        padding-bottom: 5px;
        color: #ff9900;
        display: inline-block;
        position: absolute;
        right: 16%;
        top: 50%;
        transform: translateY(-70%);
        align-self: center;
        pointer-events: none;
      }

}
    

  .formulaire__sexe{
    margin-left:12%;
    
      input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;

    position: relative;
    margin-left: 10px;
    top: 4px;
  }

  input:checked {
    border: 6px solid #ff9900;
  }

  .sex,label{
    cursor: pointer;
  }
}

.submit{
  color: black;
  background-color: #FF9900;
  margin-top: 35px;
  display: inline-block;
  text-align: center;
  width: 250px;
  margin-left: 50%;
  transform: translate(-50%);
  border-radius: 25px;
  font-size: 25px;
  padding: 10px 20px;
  border: none;
  font-weight:600;
  &:hover{
      transition: all .3s;
      transform: translate(-50%, 0px) scale(1.05);
      background-color: #ffac2e;
      

  }
}


.cover {
    height: 100%;
    width: 100%;
    top:0%;
    left:0%;
    position: fixed;
    z-index: 2;
    filter: blur(4px);
    pointer-events: none
}

.blur-out {
    animation: blur-out 1s forwards;
}

.popup{
  position:fixed;
  z-index:3;
  top: 50%;
  left:50%;
  transform:translate(-50%,-70%);
  font-size:24px;
  width:268px;
  padding:35px 25px;
  border-radius:5px;
  
  background-color:#222222;
  color:white;
  
  .popup__logo{
    margin-left:50%;
    transform:translate(-50%);
    margin-bottom:15px;
  }
  
  .popup__option{
    text-align:center;
    display:flex;
    flex-direction:column;
    
    font-size:18px;
    color:#bbbbbb;
    cursor:pointer;
    margin-top:15px;
    
    a{
      color:#bbbbbb;
    }
    
    a:first-child{
      font-size:32px;
      color:white;
      background-color:#ff9900;
      padding:10px;
      margin-bottom:10px;
      border-radius:0px 30px 30px 0px;
      text-decoration:none;
      
      &:hover{        
        transform-origin: 0 100%;
        transition: all 15s linear;
        transform:scaleX(3);
      }
    }
  }

}  
 
.none{
    display:none;
 }