.formulaire{

    margin-top:25px;
    width: 100%;
    overflow-y: hidden;     

    .formulaire__title, .formulaire__subtitle{
        text-align: center;
        color: white;
    }
    .formulaire__item{
        width:90%;
        margin: 10px;
        margin-left: 5%;
        font-size: 18px;
        &:not(:last-child){
            background: rgba(196, 196, 196, 0.2);
            border: solid 0.5px white;
            height: 35px;  
            }

        option{
            color: black;
        }
    }
}

.submit{
    color: black;
    background-color: #FF9900;
    margin-top: 35px;
    display: inline-block;
    text-align: center;
    width: 250px;
    margin-left: 50%;
    transform: translate(-50%);
    border-radius: 25px;
    font-size: 25px;
    padding: 10px 20px;
    border: none;
    font-weight:600;
    &:hover{
        transition: all .3s;
        transform: translate(-50%, 0px) scale(1.05);
        background-color: #ffac2e;
        

    }
}