

.head{
    width: calc(100% - 36px);
    margin: 18px ;
    height: 44px;
    margin: 60px 0 0 18px;
   
    &__main{
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        z-index: 30;
        background-color: #000000;
        padding: 18px;
        left: 0;
        top: 0;
    }
    &__btn{
        height: 20px;
        width: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: none;
        margin: auto 0;
       //background-color: #000000; 
       background-color: transparent;
        &>span{
            width: 100%;
            height: 2px;
            border-radius: 4px;    
            background-color: #FF9900;   
            transition: 0.3s; 
        }

        &--actif{
            position: fixed;
            top: 18px;
            left: 18px;
            z-index: 28;

            & >span{ 
                &:nth-child(1){
                    transform: rotate(45deg) translateX(2px) translateY(10px);
                } 
                &:nth-child(2){
                    width: 0;
                } 
                &:nth-child(3){
                    transform: rotate(-45deg) translateY(-11px) translateX(2px);
                } 
            }
        }
        


    }

    &__logo{
       height: 24px;
    }
    &__icon{
        transform: scale(1.2);
    }
    &__marquee{
        // position: relative;
        // top: 42px;
        height: 44px;
        width: 100vw;
        border-top: 0.5px solid #FFF5F5;
        border-bottom: 0.5px solid #FFF5F5;
        margin: 18px 0 0 -18px;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: hidden;
        &>p{
            //stroke: 0.5px solid #ffffff;
            -webkit-text-stroke: 0.5px #ffffff;
            color: transparent;
            font-style: italic;
            font-size: 21px;
            font-weight: 700;
            line-height: 100%;
            animation: animTxt 8s infinite linear;
            white-space: nowrap;
            text-align: center;
            flex-direction: row;
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-end;
            margin: 10px 0;


        }
    }
    &__nav{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        background-color: #ffffff20;
        backdrop-filter: blur(4px);
        display: block;

        &--none{
            display: none;
        }

    }
}

.nav{

    &__list{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100%;
        background-color: #000000;
        padding: 25vh 10px;
        row-gap: 16px;

        
    }
    &__el{
        cursor: pointer;
        width: 80%;
        padding: 16px 6px 10px 6px;

        &>a{
            color: #fff;
            font-size: 38px;
            text-align: center;

        }
        &--actif{
            border-bottom: 2px solid #FF9900;
        }
    }
}

@keyframes animTxt{
    from{
        transform: translate3d(1%,0,0);
    }
    to{
        transform: translate3d(99%,0,0);
    }
}