main{
    font-family: arial;
    line-height: 140%;
    position: relative;
}

.logo__header{
    margin: 30px;
    position: absolute;
}

.box{
    font-size: 40px;
    font-family: arial;
    text-align: center;
    height: 101vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    font-weight: bold;
}

.box__disabled{
    display: none;
}

.box__add{
    display: block;
    display: flex;
    align-items: center;
    justify-content:center;
    font-weight: bold;
}

.svg__chose{
    position: absolute;
    width: 80%;
    min-height: 320px;
    max-width: 800px;
    stroke-width: 1px;
    margin-top: -350px;
    margin-left: 50px;
}

.box__svg{
    height: 300px;
    stroke: #FF9900;
    stroke-width: 3px;
    margin-top: 6px;
    transform: translateX(25px);
    position: absolute;
    width: 90px;
    
    &--img{
        height: 500px;
        top: 350px;
        width: 80%;
        max-width: 800px;
        stroke-width: 1px;
    }
}

.txt__style{
    line-height: 140%;
    width: 70%;
}

.txt__orange{
    color: #FF9900;
}

.box__video{
    width: 100%;

    &--add{
        display: block;
    }
}

.title{
    &__video{
        display: flex;
        justify-content: center;
        font-size: 40px;
    }

    &__video--write{
        border-right: .05em solid #FF9900;
        white-space: nowrap;
        margin: 0 auto;
        animation: 
            typing 1.5s steps(30, end),
            blink-caret .75s step-end infinite;
        overflow: hidden;
        height: 40px;
        padding-top: 10px;
    }

    &__txt{
        font-size: 30px;
        margin-left: 8rem;
        margin-top: 100px;
        line-height: 110%;
    }

    &__catego{
        font-size: 20px;
        margin-left: 8rem;
        margin-top: 120px;
        text-transform: uppercase;
    }
}

@keyframes typing{
    from { width: 0 }
}

@keyframes blink-caret{
    from, to { border-color: transparent }
    50% { border-color: #FF9900 }
}

.txt__video{
    font-size: 25px;
    margin-left: 8rem;
    line-height: 140%;
    margin-top: 40px;
    width: 80%;
    max-width: 90ch;
}

.style__video{
    width: 100%;
    margin-top: 50px;
}

.svg__box{
    stroke-width: 3px;
    stroke: #FF9900;
    position: absolute;
    width: 100px;
    fill: none;
    margin-top: 480px;
}

.style{
    &__ul{
        list-style: none;
        margin-left: 8rem;
        margin-right: 8rem;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }

    &__li{
        width: 180px;
        height: 180px;
        background-color: #FF9900;
        border-radius: 30px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin: 30px 15px;
    }

    &__li>svg{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
        
}

.box__boutonVideo{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 250px;
    display: flex;
}

.bouton{
    width: 320px;
    height: 70px;
    border-radius: 20px;
    margin: 0  30px;

    &__mamy{
        background-color: #242424;
        margin-top: 30px;
    }

    &__image{
        width: 320px;
        position: relative;
        transform:translateY(-188px);
    }

    &__link{
        background-color: #FF9900;
        font-weight: bold;
        font-size: 25px;
        padding-top: 25px;
        margin-top: 30px;
    }
}

.bouton{
    width: 320px;
    height: 70px;
    border-radius: 20px;
    margin: 0  30px;

    &__mamy{
        background-color: #242424;
        margin-top: 30px;
    }

    &__image{
        width: 320px;
        position: relative;
        transform:translateY(-188px);
    }

    &__link{
        background-color: #FF9900;
        font-weight: bold;
        font-size: 25px;
        padding-top: 25px;
        margin-top: 30px;
    }
}

.box__images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 8rem;
    margin-right: 8rem;
}

.box__images>img{
    margin: 30px 15px;
    height: 200px;
}


@media (max-width: 750px){
    .txt__video{
        font-size: 20px;
        margin-left: 4rem;
        line-height: 140%;
        margin-top: 30px;
        width: 80%;
       
    }

    .title__txt{
        margin-left: 4rem;
        margin-top: 100px;
    }

    .title__catego{
        margin-left: 4rem;
        margin-top: 100px;
    }

    .style__ul{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .style__ul{
        margin: 30px 15px;
    }
}


@media (max-width: 380px){

    .box__boutonVideo{
        margin-top: 180px;
    }

    .bouton{
        width: 200px;
        height: 40px;
        border-radius: 10px;
    
        &__image{
            width: 200px;
            transform:translateY(-120px);
        }
    
        &__link{
            font-size: 15px;
            padding-top: 10px;
            margin-top: 30px;
        }
    }

    .txt__video{
        font-size: 18px;
        margin-left: 2.5rem;
    }

    .title__txt{
        margin-left: 2.5rem;
        margin-top: 80px;
    }

    .title__catego{
        margin-left: 2.5rem;
        margin-top: 80px;
    }

    .style__ul{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}